<!-- Section: Contact v.2 -->
<section class="my-5">

    <!-- Section heading -->
    <div style ="text-align: center">
        <h1 class="modal-title w-100 font-weight-bold">EVENTOS</h1>
      
      </div>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto mb-5">Nuestros eventos.</p>
  
  
<div class="row">

  <div class="col-md-4 mx-auto my-5">
    <img class="img-fluid z-depth-1" style="width: 900px; height: 200px" src="assets/img/promo1.png"
        alt="" >
  </div>

  <div class="col-md-4 mx-auto my-5">
   <img  class="img-fluid z-depth-1"  style="width: 900px; height: 200px" src="assets/img/promo2.png"
        alt="video" data-toggle="modal" data-target="#modal6">
  </div>

  <div class="col-md-4 mx-auto my-5">
    <img  class="img-fluid z-depth-1"  style="width: 900px; height: 200px" src="assets/img/promo3.png"
        alt="video" data-toggle="modal" data-target="#modal4">
  </div>

 
</div>

  
  </section>
  <!-- Section: Contact v.2 -->

 