<br>
<br>


    <h1 class="modal-title w-100 font-weight-bold">TABLA LOGROS</h1>
     
            <form #ParametrosForm="ngForm" (ngSubmit)="addParametros(ParametrosForm)">
           <!-- Grid row -->
           <div >
                <input class="form-control" type="hidden" name="_id" #_id="ngModel" 
                [(ngModel)]="parametrosService.selectedParametros._id">
                
                 <!-- Grid id Logros -->
              
                  <div class="form-row">
                    <div class="col-md-6">
                        <div class="md-form form-group">
                    <input mdbInput  class="form-control" type="text" name="idParametro" #name="ngModel" 
                    [(ngModel)]="parametrosService.selectedParametros.idParametro" placeholder="idParametro">
                    <label for="">idParametro</label>
                  </div>
                </div>
          
            
             

            <!-- Grid id Institucion -->
              
                  <div class="col-md-6">
                      <div class="md-form form-group">
                        <input mdbInput  class="form-control" type="text" name="nombreParametro" #name="ngModel" 
                        [(ngModel)]="parametrosService.selectedParametros.nombreParametro" placeholder="id de nombreParametro">
                        <label for="">nombreParametro</label>
                      </div>
               
              </div>
            </div>
            <!-- Grid id Institucion -->

            <!-- Grid Nombre -->
              <div class="row">
                  <div class="col-md-12">
                      <div class="md-form form-group">                  
                    <input  mdbInput  class="form-control" type="text" name="valor" #name="ngModel" 
                    [(ngModel)]="parametrosService.selectedParametros.valor" placeholder="valor">
                    <label for="">valor</label>
                  </div>
                </div>
              </div>
                <!-- Grid Nombre -->

                  <!-- Grid Descripcion -->
            
                 <!-- Grid Descripcion -->

                <!-- Grid botellas -->
     
                 <!-- Grid botellas -->

                  <!-- Grid Botones -->
                  <div class="card-action">
                    <div class="input-field col-s12">
                      <button mdbBtn color="primary"  class="btn right" (click)="resetForm(ParametrosForm)">Limpiar</button>
                      <button mdbBtn color="light-green" class="btn ">Guardar</button>
                    </div>
                  </div>
                   <!-- Grid Botones -->
                </div>
              </form>
            
        
     
      <!-- Construccion de la tabla -->     
      <br>
      <br>
<!-- Construccion de la tabla -->
<h1 class="modal-title w-100 font-weight-bold">DATOS</h1>      
<div class="table-responsive-lg">
    <table mdbTable responsive="true">
          <thead>
           
            <th>idParametro</th>
            <th>nombreParametro</th>
            <th>valor</th>
          
  
            <th>Operaciones</th>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="let parametro of parametrosService.parametro">
              <td>{{ parametro.idParametro }}</td>
              <td>{{ parametro.nombreParametro }}</td>
              <td>{{ parametro.valor }}</td>
          
              
              
              <td>
                <a (click)="editParametros(parametro)">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                <a (click)="deleteParametros(idParametro._id, ParametrosForm)">
                    <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
 





 