<br>
<br>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">


<header>
  <nav class="estiloNav">
    <ul>
      <li><a href="admin/instituciones">Instituciones</a></li>
      <li><a href="admin/personas">Personas</a></li>
      <li><a href="admin/evento">Eventos</a></li>
      <li><a href="admin/logros">Logros</a></li>
      <li><a href="admin/reportes">Reportes</a></li>
      <li><a href="admin/parametro">Parametros</a></li>
      <li><a href="admin/rol">Rol</a></li>
    </ul>
  </nav>
</header>

<div class="container">
  
    

    <h3 class="center">TABLA PARAMETROS</h3>
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form #parametroForm="ngForm" (ngSubmit)="addParametro(parametroForm)">
            <input type="hidden" name="_id" #_id="ngModel" 
            [(ngModel)]="serviceParametro.selectedParametro._id">
            <div>
              <div class="input-field col-s12">
                <div>
                  <label>Ingresar id parametro</label>
                </div>
                <input type="text" name="idParametro" #name="ngModel" 
                [(ngModel)]="serviceParametro.selectedParametro.idParametro" placeholder="idParametro">
              </div>
            </div>

            <div>
              <div class="input-field col-s12">
                <div>
                  <label>Ingresar nombre parametro</label>
                </div>
                <input type="text" name="nombreParametro" #name="ngModel" 
                [(ngModel)]="serviceParametro.selectedParametro.nombreParametro" placeholder="nombreParametro">
              </div>
            </div>
            
             <div>
              <div class="input-field col-s12">
                <div>
                  <label>Ingresar valor del parametro</label>
                </div>
                <input type="text" name="valor" #name="ngModel" 
                [(ngModel)]="serviceParametro.selectedParametro.valor" placeholder="valor">
              </div>
            </div>

              <div class="card-action">
                <div class="input-field col-s12">
                  <button class="btn right  purple darken-4" (click)="resetForm(parametroForm)">Limpiar</button>
                  <button class="btn ">Guardar</button>
                </div>
              </div>
            
          </form>
        </div>
      </div>
    </div>
    <div class="table-responsive-lg">
      <table class="striped highlight black-text">
        <thead>
          <th>Id Parametro</th>
          <th>Nombre Parametro</th>
          <th>Valor</th>

          <th>Operaciones</th>
        </thead>
        <tbody>
          <tr *ngFor="let parametro of serviceParametro.parametro">
            <td>{{parametro.idParametro}}</td>
            <td>{{parametro.nombreParametro}}</td>
            <td>{{parametro.valor }}</td>
            
            
            <td>
              <a (click)="editParametro(parametro)">
                <i class="material-icons">edit</i>
              </a>
              <a (click)="deleteParametro(parametro._id, parametroForm)">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
