<br>
<br>


<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"> -->



  
    
    <h1 class="modal-title w-100 font-weight-bold">TABLA PARAMETROS</h1>
    
 

<form #parametroForm="ngForm" (ngSubmit)="addParametro(parametroForm)">
            <!-- Grid row -->
          <div >
            <input class="form-control" type="hidden" name="_id" #_id="ngModel" 
            [(ngModel)]="serviceParametro.selectedParametro._id">

            <div class="">
              <div class="row">
                <div class="col-md-12"> 
                    <div class="md-form form-group">
                  
                <input mdbInput  type="text" class="form-control"  name="idParametro" #name="ngModel" 
                [(ngModel)]="serviceParametro.selectedParametro.idParametro" placeholder="id Parametro">
                <label for="">id Parametro</label>
              </div>
            </div>
          </div>
        </div>

            <div>
              <div  class="row">
                <div class="col-md-12">
                    <div class="md-form form-group">
                <input mdbInput type="text" class="form-control" name="nombreParametro" #name="ngModel" 
                [(ngModel)]="serviceParametro.selectedParametro.nombreParametro" placeholder="nombre del Parametro">
                <label for="">Nombre del Parametro</label>
              </div>
            </div>
          </div>
        </div>

             <div>
              <div  class="row">
                <div class="col-md-12">
                    <div class="md-form form-group">
                <input mdbInput type="text" class="form-control" name="valor" #name="ngModel" 
                [(ngModel)]="serviceParametro.selectedParametro.valor" placeholder="valor">
                <label for="">Valor del Parametro</label>
              </div>
            </div>
          </div>
        </div>

              <div class="card-action">
                <div class="input-field col-s12">
                  <button  mdbBtn color="primary" class="btn right" (click)="resetForm(parametroForm)">Limpiar</button>
                  <button  mdbBtn color="light-green" class="btn ">Guardar</button>
                </div>
              </div>
            </div>
          </form>

     <!-- Construccion de la tabla -->     
          <br>
          <br>
    <!-- Construccion de la tabla -->
    <h1 class="modal-title w-100 font-weight-bold">DATOS</h1>      
    <div class="table-responsive-lg">
        <table mdbTable responsive="true">
        <thead>
          <th>Id Parametro</th>
          <th>Nombre Parametro</th>
          <th>Valor</th>

          <th>Operaciones</th>
        </thead>
        <tbody>
          <tr mdbTableCol  *ngFor="let parametro of serviceParametro.parametro">
            <td>{{parametro.idParametro}}</td>
            <td>{{parametro.nombreParametro}}</td>
            <td>{{parametro.valor }}</td>
            
            
            <td>
              
              <a (click)="editParametro(parametro)">
                  <i class="fas fa-pencil-alt"></i>
              </a>
              
              <a (click)="deleteParametro(parametro._id, parametroForm)">
                  <i class="fas fa-trash"></i>

              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

