<br>
<br>


    <h1 class="modal-title w-100 font-weight-bold">PERSONA</h1>
    <br>
    <br>
            <form>
           <!-- Grid row -->
           <div >
                <input class="form-control" type="hidden" name="" >
                
                 <!-- Grid id Logros -->
              
                  <div class="form-row">
                  
          
            
             <!-- Grid id Logros -->

            <!-- Grid id Institucion -->
              
                  <div class="col-md-12">
                      <div class="md-form form-group">
                        <label for="">Cedula</label>
                        <input mdbInput  class="form-control" type="text" name="cedula" #name="" 
                        placeholder="Cedula">
                      
                      </div>


                      <div class="card-action">
                        <div class="input-field col-s12">
                          
                          <button class="btn btn-success text-light mt-15 pt-15">Buscar</button>
                        </div>
                      </div>
               
              </div>
            </div>
            <!-- Grid id Institucion -->
          <br>
            <!-- Grid Nombre -->
              <div class="row">
                  <div class="col-md-12">
                      <div class="md-form form-group"> 
                          <label for="">id de la Institucion</label>                 
                    <input  mdbInput  class="form-control" type="text" name="idInstitucion" 
                   placeholder="id de la institucion">
                    
                  </div>
                </div>
              </div>
                <!-- Grid Nombre -->

                  <!-- Grid Descripcion -->
                <div  class="row">
                    <div class="col-md-12">
                        <div class="md-form form-group">
                            <label for="">Nombre</label>
                      <input  mdbInput  class="form-control"  type="text" name="nombre" 
                    placeholder="nombre">
                     
                    </div>
                  </div>
                </div>
                 <!-- Grid Descripcion -->
                   <!-- Grid Descripcion -->
                <div  class="row">
                    <div class="col-md-12">
                        <div class="md-form form-group">
                            <label for="">Apellido</label>
                      <input  mdbInput  class="form-control"  type="text" name="Apellido" 
                    placeholder="Apellido">
                     
                    </div>
                  </div>
                </div>
                 <!-- Grid Descripcion -->

             
                  <!-- Grid Botones -->
                  <div class="card-action">
                    <div class="input-field col-s12">
                        <button class="btn btn-secondary" >Editar</button>
                      <button class="btn btn-success text-light mt-15 pt-15">Guardar</button>
                    </div>
                  </div>
                   <!-- Grid Botones -->
                </div>
              </form>
            