

<!-- Main jumbotron for a primary marketing message or call to action -->

<div style ="text-align: center" >

<div class="container-inner">
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
      <mdb-carousel-item>
        <img class="d-block w-100" style="width: 900px; height: 800px" src="assets/img/fondo1.jpg" alt="First slide">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" style="width: 900px; height: 800px" src="assets/img/fondo2.jpg" alt="Second slide">
      </mdb-carousel-item>
   
    </mdb-carousel>
</div>


<img class="d-block w-100" style="width: 900px; height: 800px" src="assets/img/fondo3.jpg" alt="Second slide">
