
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">



    <!-- Bootstrap core CSS -->



   
    <!-- Custom styles for this template -->
  
  </head>


  
  <body class="text-center">

    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #ffffff; color:#0000">
      <a href="#" class="navbar-brand" >
        <img class="logo" width="100" src="assets/img/logo.png">
     </a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
          
            <li class="nav-item dropdown btn-group" dropdown >
              <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                Perfil <span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" href="perfilreciclador">Perfil</a>
                  <a class="dropdown-item waves-light" href="" (click)="cerrarSesion()">Cerrar sesión</a> 
              </div>
          </li> 
      </ul>
    </div>
  </nav>
    
    <form #PersonaForm="ngForm" class="form-signin" >
  
      <div class="table-responsive-lg">
      <h1 class="modal-title w-100 font-weight-bold">INGRESE NUMERO DE MATRICULA</h1>
      <br>
      <br>

  <input name="matricula" #matricula class="form-control" type="matricula" >
 
  <div class="checkbox mb-3">
  
  </div>
  <button mdbBtn color="light-green" class="btn "   (click)="ingresomatricula(matricula.value)">Ingresar</button>
 </div>
</form>
</body>
</html>