
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">



    <!-- Bootstrap core CSS -->



   
    <!-- Custom styles for this template -->
  
  </head>
  <body class="text-center">
    <form #PersonaForm="ngForm" class="form-signin" >
  
      <div class="table-responsive-lg">
      <h1 class="modal-title w-100 font-weight-bold">INGRESE NUMERO DE MATRICULA</h1>
      <br>
      <br>

  <input name="matricula" #matricula class="form-control" type="matricula" >
 
  <div class="checkbox mb-3">
  
  </div>
  <button mdbBtn color="light-green" class="btn "   (click)="ingresomatricula(matricula.value)">Ingresar</button>
 </div>
</form>
</body>
</html>