<br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<br>
<br>


<header>
  <nav class="estiloNav">
    <ul>
      <li><a href="admin/instituciones">Instituciones</a></li>
      <li><a href="admin/personas">Personas</a></li>
      <li><a href="admin/evento">Eventos</a></li>
      <li><a href="admin/logros">Logros</a></li>
      <li><a href="admin/reportes">Reportes</a></li>
      <li><a href="admin/parametro">Parametros</a></li>
      <li><a href="admin/rol">Rol</a></li>
    </ul>
  </nav>
</header>

<div class="container">

    <h3 class="center">TABLA REPORTES</h3>
    <br>
<br>
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form #reporteForm="ngForm" (ngSubmit)="addReportes(reporteForm)">
            <input type="hidden" name="_id" #_id="ngModel" 
            [(ngModel)]="reportesService.selectedReportes._id">
            <div class="row">
              <div class="input-field col-s12">
                <input type="text" name="idReporte" #name="ngModel" 
                [(ngModel)]="reportesService.selectedReportes.idReporte" placeholder="Id Reporte">
              </div>
              <div class="input-field col-s12">
                <input type="text" name="idInstitucion" #name="ngModel" 
                [(ngModel)]="reportesService.selectedReportes.idInstitucion" placeholder="nombre de la institucion">
              </div>


         

              <div class="input-field col-s12">
                
                <input type="text" name="fecha" #name="ngModel" 
                [(ngModel)]="reportesService.selectedReportes.fecha" placeholder="fecha">
              </div>
              <div class="input-field col-s12">
                <input type="text" name="NroBotellas" #name="ngModel" 
                [(ngModel)]="reportesService.selectedReportes.NroBotellas"  placeholder="NroBotellas">
              </div>
             
              <div class="card-action">
                <div class="input-field col-s12">
                  <button class="btn right  purple darken-4" (click)="resetForm(reporteForm)">Limpiar</button>
                  <button class="btn ">Guardar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s7">
      <table class="striped highlight black-text">
        <thead>
          <th>idReportes</th>
          <th>idInstitucion</th>
          <th>fecha</th>
          <th>NroBotellas</th>

          <th>Operaciones</th>
        </thead>
        <tbody>
          <tr *ngFor="let reportes of reportesService.reportes">
            <td>{{ reportes.idReporte }}</td>
            <td>{{ reportes.idInstitucion }}</td>
            <td>{{ reportes.fecha }}</td>
            <td>{{ reportes.NroBotellas }}</td>
            
            
            <td>
              <a (click)="editReportes(reportes)">
                <i class="material-icons">edit</i>
              </a>
              <a (click)="deleteReportes(reportes._id, reportesForm)">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>