
  <!--nav -->
  
<br>
<br>



<nav class="navbar navbar-white bg navbar-expand-sm fixed-top" style="background-color: #ffffff; color:#0000">
  
  <a href="#" class="brand-logo" *ngIf="!isLogged">
    <img class="logo" width="100" src="assets/img/logo.png">
  </a> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainNavbar" *ngIf="!isLogged && !isLoggedUser">
  
    <ul class="navbar-nav ml-auto">
        <li class="nav-item" >
            <a class="nav-link" style="color:#000000"  href="#">INICIO
            </a>
          </li>
        <li class="nav-item">
            <a class="nav-link" style="color:#000000" routerLink="/user/nosotros">NOSOTROS
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color:#000000" routerLink="/user/portfolio">EVENTOS
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color:#000000" routerLink="/user/premios">PREMIOS
            </a>
          </li>

          <li class="nav-item">
              <a class="nav-link" style="color:#000000" routerLink="/user/contactanos">CONTÁCTANOS
              </a>
            </li>
        
      <li class="nav-item">
        <a class="nav-link" style="color:#000000" routerLink="/personas">ADMIN
        </a>
      </li>    

      <li class="nav-item">
        <a class="nav-link" style="color:#000000" routerLink="/user/login">INICIAR SESIÓN
        </a>
      </li>
     

    </ul>
  </div>



 
</nav>

