<br>
<br>
<br>
<br>
<div >
  <article class="card-body mx-auto" style="max-width: 400px;">
      <img src="assets/img/logo.png" alt="Jane" style="width:100% ;height:200%">
    <h4 class="card-title mt-3 text-center">CREAR CUENTA</h4>
    <p class="text-center">BIENVENIDO A TARJETA VERDE</p>
  

    <form>
    <div class="form-group input-group">
      <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
       </div>
          <input name="" class="form-control" placeholder="Ingrese su nombre completo" type="text">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
       </div>
          <input name="" class="form-control" placeholder="Ingrese su correo electronico" type="email">
      </div> <!-- form-group// -->
    
    
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
      </div>
          <input class="form-control" placeholder="Ingrese su contraseña" type="password">
      </div> <!-- form-group// -->
                              
      <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" style="background-color: #212121 !important;"> Registrarte </button>
      </div> <!-- form-group// -->   
      
      <div class="form-group">
          <p>Al registrarte, aceptas nuestras Condiciones, la Política de datos y la Política de cookies.</p>
      </div>
      
      <p class="text-center">¿Ya tiene cuenta? <a href="/user/login">Iniciar Sesion</a> </p>                                                                 
  </form>
  </article>
</div> <!-- card.// -->
  