<br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<br>
<br>
<header>
  <nav class="estiloNav">
    <ul>
      <li><a href="admin/instituciones">Instituciones</a></li>
      <li><a href="admin/personas">Personas</a></li>
      <li><a href="admin/evento">Eventos</a></li>
      <li><a href="admin/logros">Logros</a></li>
      <li><a href="admin/reportes">Reportes</a></li>
      <li><a href="admin/parametro">Parametros</a></li>
      <li><button type="button" class="btn" (click)="cerrarSesion()">Cerrar sesión</button></li>
    </ul>
  </nav>
</header>

    <h1 class="modal-title w-100 font-weight-bold">TABLA PERSONA</h1>
     
            <form #PersonaForm="ngForm" (ngSubmit)="addPersona(PersonaForm)">
           <!-- Grid row -->
           <div >
                <input class="form-control" type="hidden" name="_id" #_id="ngModel" 
                [(ngModel)]="personaService.selectPersona._id">
                
                 <!-- Grid id Logros -->
              
                  <div class="form-row">
                    <div class="col-md-6">
                        <div class="md-form form-group">
                    <input mdbInput  class="form-control" type="text" name="idPersona" #name="ngModel" 
                    [(ngModel)]="personaService.selectPersona.idPersona" placeholder="idPersona">
                    <label for="">idPersona</label>
                  </div>
                </div>
          
            
             <!-- Grid id Logros -->

            <!-- Grid id Institucion -->
              
                  <div class="col-md-6">
                      <div class="md-form form-group">
                        <input mdbInput  class="form-control" type="text" name="idInstitucion" #name="ngModel" 
                        [(ngModel)]="personaService.selectPersona.idInstitucion" placeholder="idInstitucion">
                        <label for="">idInstitucion</label>
                      </div>
               
              </div>
            </div>
            <!-- Grid id Institucion -->

            <!-- Grid Nombre -->
      
                <!-- Grid Nombre -->

                  <!-- Grid Descripcion -->
                <div  class="row">
                    <div class="col-md-12">
                        <div class="md-form form-group">
                      <input  mdbInput  class="form-control"  type="text" name="cedula" #name="ngModel" 
                      [(ngModel)]="personaService.selectPersona.cedula" placeholder="cedula">
                      <label for="">cedula</label>
                    </div>
                  </div>
                </div>
                 <!-- Grid Descripcion -->

                <!-- Grid botellas -->
              <div class="form-row">
                  <div class="col-md-6">
                      <div class="md-form form-group">
                    <input mdbInput class="form-control" type="text" name="nombre" #name="ngModel" 
                    [(ngModel)]="personaService.selectPersona.nombre"  placeholder="nombre">
                    <label for="">fechainicio</label>
                  </div>
                </div>
                  <div class="col-md-6">
                      <div class="md-form form-group">
                    <input mdbInput class="form-control"  type="text" name="apellido" #name="ngModel" 
                    [(ngModel)]="personaService.selectPersona.apellido"  placeholder="apellido">
                    <label for="">apellido</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="md-form form-group">
                <input mdbInput class="form-control"  type="text" name="matricula" #name="ngModel" 
                [(ngModel)]="personaService.selectPersona.matricula"  placeholder="matricula">
                <label for="">matricula</label>
              </div>
            </div>


              </div>
                 <!-- Grid botellas -->


         

         

                  <!-- Grid Botones -->
                  <div class="card-action">
                    <div class="input-field col-s12">
                      <button mdbBtn color="primary"  class="btn right" (click)="resetForm(PersonaForm)">Limpiar</button>
                      <button mdbBtn color="light-green" class="btn ">Guardar</button>
                    </div>
                  </div>
                   <!-- Grid Botones -->
                </div>
              </form>
            
        
     
      <!-- Construccion de la tabla -->     
      <br>
      <br>
<!-- Construccion de la tabla -->
<h1 class="modal-title w-100 font-weight-bold">DATOS</h1>      
<div class="table-responsive-lg">
    <table mdbTable responsive="true">
          <thead>
            <th>idPersona</th>
            <th>idInstitucion</th>
            <th>cedula</th>
            <th>nombre</th>
            <th>apellido</th>
            <th>matricula</th>
        
  
            <th>Operaciones</th>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="let personas of personaService.personas">
              <td>{{ personas.idPersona }}</td>
              <td>{{ personas.idInstitucion }}</td>
              <td>{{ personas.cedula }}</td>
              <td>{{ personas.nombre }}</td>
              <td>{{ personas.apellido }}</td>
              <td>{{ personas.matricula }}</td>
           
              
              
              <td>
                <a (click)="editPersona(personas)">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                <a (click)="deletePersona(personas._id, PersonaForm)">
                    <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
 



