<br>
<br>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
 
  <h1 class="modal-title w-100 font-weight-bold">RECOLECTOR</h1>
  </div>
  
  <div class="bg-light jumbotron">
  <div class="row mb-2">
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">Datos Personales</h3>
         
           
            <!-- Grid row -->
           <div class="row">
              <div class="col -3 "><label>Nombre</label></div>
              <div class="col-9 form-control"> <h5 >{{usuarioPorMatricula.nombre}}</h5>  </div>

                </div>
            


              <div class="row">

                  <div class="col -3 "><label>Apellido</label></div>
                  <div class="col-9 form-control"> <h5 >{{usuarioPorMatricula.apellido}}</h5>  </div>
</div>
            


              <div class="row">

                  <div class="col -3 "><label>Correo Electronico</label></div>
                  <div class="col-9 form-control"> <h5 >{{usuarioPorMatricula.correo}}</h5> </div>

                </div>

              <div class="row">

                  <div class="col -3 "><label> saldoVerde</label></div>
                  <div class="col-9 form-control"> <h5 >{{personaPorMatricula.saldoVerde}}</h5></div>
                </div>
              


              <div class="row">

                  <div class="col -3 "><label> saldoActual</label></div>
                  <div class="col-9 form-control"> <h5 >{{personaPorMatricula.saldoActual}}</h5> </div>
                </div>

           
               

            
            



          </div>
          <div class="col-auto d-none d-lg-block">
          </div>
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0 text-center">Información de Reciclador</h3>
            <div id="menu">  
          
            <label id="numbotellas">Numero de Botellas entregadas:</label>   <div class="col-md-3 mb-3">
             
              <input mdbInput  class="form-control" type="text" name="NroBotellas">

              
            </div>

            <label id="numbotellas">Numero de Botellas recolectadas:</label>   
            <div class="col-md-3 mb-3">
             
              <div class="col-9 form-control"> <h5 >{{personaPorMatricula.NroBotellas}}</h5> </div>
             
        
         
             
      

           
              
                
            </div>
            
          </div>
         

           

         
        
        </div>
      </div>
      <button type="submit" class="btn btn-lg btn-dark btn-block"  style='width:150px; height:50px'> Ingresar</button>
      <button type="submit" class="btn btn-lg btn-dark btn-block"  style='width:130px; height:50px' id="botondere"> Salir</button>
    </div>
  </div>