<br>
<br>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
 
  <h1 class="modal-title w-100 font-weight-bold">RECOLECTOR</h1>
  </div>
  
  <div class="bg-light jumbotron">
  <div class="row mb-2">
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">Datos Personales</h3>
            <hr>
            <form #PersonaForm="ngForm" (ngSubmit)="addPersona">
            <!-- Grid row -->
           <div >
              <h5  name="_id" #_id="ngModel" 
                [(ngModel)]="personaService.selectedPersona._id"> </h5>
              
               <!-- Grid id Logros -->
            
                <div class="form-row">
                  <div class="col-md-6">
                      <div class="md-form form-group">
                  <input mdbInput  class="form-control" type="text" name="idPersona" #name="ngModel" 
                  [(ngModel)]="personaService.selectPersona.idPersona" placeholder="idPersona">
                  <label for="">idPersona</label>
                </div>
              </div>
        
          
           <!-- Grid id Logros -->

          <!-- Grid id Institucion -->
            
                <div class="col-md-6">
                    <div class="md-form form-group">
                      <input mdbInput  class="form-control" type="text" name="idInstitucion" #name="ngModel" 
                      [(ngModel)]="personaService.selectPersona.idInstitucion" placeholder="idInstitucion">
                      <label for="">idInstitucion</label>
                    </div>
             
            </div>
          </div>
          <!-- Grid id Institucion -->

          <!-- Grid Nombre -->
    
              <!-- Grid Nombre -->

                <!-- Grid Descripcion -->
              <div  class="row">
                  <div class="col-md-12">
                      <div class="md-form form-group">
                    <input  mdbInput  class="form-control"  type="text" name="cedula" #name="ngModel" 
                    [(ngModel)]="personaService.selectPersona.cedula" placeholder="cedula">
                    <label for="">cedula</label>
                  </div>
                </div>
              </div>
               <!-- Grid Descripcion -->

              <!-- Grid botellas -->
            <div class="form-row">
                <div class="col-md-6">
                    <div class="md-form form-group">
                  <input mdbInput class="form-control" type="text" name="nombre" #name="ngModel" 
                  [(ngModel)]="personaService.selectPersona.nombre"  placeholder="nombre">
                  <label for="">fechainicio</label>
                </div>
              </div>
                <div class="col-md-6">
                    <div class="md-form form-group">
                  <input mdbInput class="form-control"  type="text" name="apellido" #name="ngModel" 
                  [(ngModel)]="personaService.selectPersona.apellido"  placeholder="apellido">
                  <label for="">apellido</label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="md-form form-group">
              <input mdbInput class="form-control"  type="text" name="matricula" #name="ngModel" 
              [(ngModel)]="personaService.selectPersona.matricula"  placeholder="matricula">
              <label for="">matricula</label>
            </div>
          </div>


            </div>
               <!-- Grid botellas -->


       

       

                <!-- Grid Botones -->
                <div class="card-action">
                  <div class="input-field col-s12">
                    <button mdbBtn color="primary"  class="btn right" (click)="resetForm(PersonaForm)">Limpiar</button>
                    <button mdbBtn color="light-green" class="btn ">Guardar</button>
                  </div>
                </div>
                 <!-- Grid Botones -->
              </div>
            </form>
            

            <tr mdbTableCol *ngFor="let personas of personaService.personas">
              <td>{{ personas.nombre }}</td>
              <td>{{ personas.apellido }}</td>
              <td>{{ personas.correo }}</td>
              <td>{{ personas.saldoVerde }}</td>
              <td>{{ personas.saldoActual }}</td>
            
           
              
              
            
            </tr>



          </div>
          <div class="col-auto d-none d-lg-block">
          </div>
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0 text-center">Información de Reciclador</h3>
            <div id="menu">  
          
            <label id="numbotellas">Numero de Botellas entregadas:</label>   <div class="col-md-3 mb-3">
             
              <input mdbInput  class="form-control" type="text" name="NroBotellas"   #name="ngModel"
              [(ngModel)]="personaService.selectPersona.NroBotellas" placeholder="NroBotellas">

              
            </div>

            <label id="numbotellas">Numero de Botellas recolectadas:</label>   <div class="col-md-3 mb-3">
             
                  <label id="dato">10</label>
             
        
            <HR>
             
      

           
              
                
            </div>
            <HR> 
            <HR> 
          </div>
         

           

         
        
        </div>
      </div>
      <button type="submit" class="btn btn-lg btn-dark btn-block"  style='width:150px; height:50px'> Ingresar</button>
      <button type="submit" class="btn btn-lg btn-dark btn-block"  style='width:130px; height:50px' id="botondere"> Salir</button>
    </div>
  </div>