<!-- Section: Contact v.2 -->
<app-navbar></app-navbar>
<section class="my-5">

    <!-- Section heading -->
    <div style ="text-align: center">
        <h1 class="modal-title w-100 font-weight-bold">PREMIOS</h1>
      
      </div>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto mb-5">Nuestros premios.</p>
  


  <!--Card-->
<mdb-card>

    <!--Card image-->
    <div class="view overlay waves-light" mdbWavesEffect>
      <mdb-card-img src="assets/img/premio1.png"></mdb-card-img>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/.Card image-->
  
    <!--Card content-->
    <mdb-card-body>
      <a class="activator px-3 mr-2">
        <mdb-icon fas icon="share-alt"></mdb-icon>
      </a>
  
      <!--Title-->
      <mdb-card-title>
        <h4>Premio Verde</h4>
      </mdb-card-title>
  
      <hr>
  
      <!--Text-->
      <mdb-card-text>
        Junto a sweet and coffee premiamos a nuestros recicladores.
      </mdb-card-text>
  
      <a class="link-text">
        <h5 class="waves-light" mdbWavesEffect>Leer mas
          <mdb-icon fas icon="chevron-right" class="waves-light" mdbWavesEffect></mdb-icon>
        </h5>
      </a>
    </mdb-card-body>
    <!--/.Card content-->
  </mdb-card>
  <!--/.Card-->
  <br>
  <!--Card-->
<mdb-card>

    <!--Card image-->
    <div class="view overlay waves-light" mdbWavesEffect>
      <mdb-card-img src="assets/img/premio1.png"></mdb-card-img>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/.Card image-->
  
    <!--Card content-->
    <mdb-card-body>
      <a class="activator px-3 mr-2">
        <mdb-icon fas icon="share-alt"></mdb-icon>
      </a>
  
      <!--Title-->
      <mdb-card-title>
        <h4>Premio verde</h4>
      </mdb-card-title>
  
      <hr>
  
      <!--Text-->
      <mdb-card-text>
       Junto a sweet and coffee premiamos a nuestros recicladores
      </mdb-card-text>
  
      <a class="link-text">
        <h5 class="waves-light" mdbWavesEffect>Leer más
          <mdb-icon fas icon="chevron-right" class="waves-light" mdbWavesEffect></mdb-icon>
        </h5>
      </a>
    </mdb-card-body>
    <!--/.Card content-->
  </mdb-card>
  <!--/.Card-->
  </section>
  <!-- Section: Contact v.2 -->
