<br>
<br>
<br>
<br>




<div style ="text-align: center">
    <h1 class="display-3">NOSOTROS</h1>
  </div>


<div class="">
<div class="">
  <div style ="text-align: center">
    <img class="logo" src="assets/img/logoDos.png">

<div class="jumbotron text-justify">
<div class="row">
   
  
  <br>
  <div class="text-justify">
     
      <p>Tarjeta Verde es una empresa dedicada a la recolección de materiales reciclables de consumo diario como las botellas de plástico, a través de puntos de recolección ubicadas de manera fija en sitios públicos y establecimientos comerciales afiliados a la Red de Tarjeta Verde.</p>
      <p><strong>Visión</strong></p>
      
      <p>Es ser una empresa de cambio para las ciudades brindando alternativas tecnológicas eficientes de recolección de materia reciclable que beneficien directamente al medio ambiente, a las personas y a sus comercios.</p>
       <p><strong>Misión</strong></p>
      
      <p>Ofrecer a través de nuestros servicios  incentivos a todas las partes involucradas en la actividad de reciclaje.
        </p>
  </div>
</div>
</div>



