<br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<br>
<br>
<header>
  <nav class="estiloNav">
    <ul>
      <li><a href="admin/instituciones">Instituciones</a></li>
      <li><a href="admin/personas">Personas</a></li>
      <li><a href="admin/evento">Eventos</a></li>
      <li><a href="admin/logros">Logros</a></li>
      <li><a href="admin/reportes">Reportes</a></li>
      <li><a href="admin/parametro">Parametros</a></li>
      <li><button type="button" class="btn" (click)="cerrarSesion()">Cerrar sesión</button></li>
    </ul>
  </nav>
</header>


    <h1 class="modal-title w-100 font-weight-bold">TABLA LOGROS</h1>
     
            <form #logrosForm="ngForm" (ngSubmit)="addLogros(logrosForm)">
           <!-- Grid row -->
           <div >
                <input class="form-control" type="hidden" name="_id" #_id="ngModel" 
                [(ngModel)]="logrosService.selectedLogros._id">
                
                 <!-- Grid id Logros -->
              
                  <div class="form-row">
                    <div class="col-md-6">
                        <div class="md-form form-group">
                    <input mdbInput  class="form-control" type="text" name="idLogro" #name="ngModel" 
                    [(ngModel)]="logrosService.selectedLogros.idLogro" placeholder="id Logro">
                    <label for="">id Logro</label>
                  </div>
                </div>
          
            
             <!-- Grid id Logros -->

            <!-- Grid id Institucion -->
              
                  <div class="col-md-6">
                      <div class="md-form form-group">
                        <input mdbInput  class="form-control" type="text" name="idInstitucion" #name="ngModel" 
                        [(ngModel)]="logrosService.selectedLogros.idInstitucion" placeholder="id de la institucion">
                        <label for="">id de la Institucion</label>
                      </div>
               
              </div>
            </div>
            <!-- Grid id Institucion -->

            <!-- Grid Nombre -->
              <div class="row">
                  <div class="col-md-12">
                      <div class="md-form form-group">                  
                    <input  mdbInput  class="form-control" type="text" name="nombre" #name="ngModel" 
                    [(ngModel)]="logrosService.selectedLogros.nombre" placeholder="Nombre">
                    <label for="">Nombre</label>
                  </div>
                </div>
              </div>
                <!-- Grid Nombre -->

                  <!-- Grid Descripcion -->
                <div  class="row">
                    <div class="col-md-12">
                        <div class="md-form form-group">
                      <input  mdbInput  class="form-control"  type="text" name="descripcion" #name="ngModel" 
                      [(ngModel)]="logrosService.selectedLogros.descripcion" placeholder="Descripcion">
                      <label for="">Descripcion</label>
                    </div>
                  </div>
                </div>
                 <!-- Grid Descripcion -->

                <!-- Grid botellas -->
              <div class="form-row">
                  <div class="col-md-6">
                      <div class="md-form form-group">
                    <input mdbInput class="form-control" type="text" name="minbotella" #name="ngModel" 
                    [(ngModel)]="logrosService.selectedLogros.minbotella"  placeholder="minBotellas">
                    <label for="">Maximo de Botellas</label>
                  </div>
                </div>
                  <div class="col-md-6">
                      <div class="md-form form-group">
                    <input mdbInput class="form-control"  type="text" name="maxbotella" #name="ngModel" 
                    [(ngModel)]="logrosService.selectedLogros.maxbotella"  placeholder="maxBotellas">
                    <label for="">Minimo  de Botellas</label>
                  </div>
                </div>
              </div>
                 <!-- Grid botellas -->

                  <!-- Grid Botones -->
                  <div class="card-action">
                    <div class="input-field col-s12">
                      <button mdbBtn color="primary"  class="btn right" (click)="resetForm(logrosForm)">Limpiar</button>
                      <button mdbBtn color="light-green" class="btn ">Guardar</button>
                    </div>
                  </div>
                   <!-- Grid Botones -->
                </div>
              </form>
            
        
     
      <!-- Construccion de la tabla -->     
      <br>
      <br>
<!-- Construccion de la tabla -->
<h1 class="modal-title w-100 font-weight-bold">DATOS</h1>      
<div class="table-responsive-lg">
    <table mdbTable responsive="true">
          <thead>
            <th>Id Logro</th>
            <th>Id Institucion</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Minimo Botellas</th>
            <th>Maximo Botellas</th>
  
            <th>Operaciones</th>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="let logro of logrosService.logro">
              <td>{{ logro.idLogro }}</td>
              <td>{{ logro.idInstitucion }}</td>
              <td>{{ logro.nombre }}</td>
              <td>{{ logro.descripcion }}</td>
              <td>{{ logro.minbotella }}</td>
              <td>{{ logro.maxbotella }}</td>
              
              
              <td>
                <a (click)="editLogros(logro)">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                <a (click)="deleteLogros(logro._id, logroForm)">
                    <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
 





 