<!-- <div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">

          /////////////////ingresos de nuevos datos para la tabla
          <form #logrosForm="ngForm" (ngSubmit)="addLogros(logrosForm)">
            <input type="hidden" name="_id" #_id="ngModel" 
            [(ngModel)]="logrosService.selectedLogros._id">
            <div class="row">
              <div class="input-field col-s12">
                <input type="text" name="idLogro" #name="ngModel" 
                [(ngModel)]="logrosService.selectedLogros.idLogro" placeholder="idLogro">
              </div>
              <div class="input-field col-s12">
                <input type="text" name="idInstitucion" #name="ngModel" 
                [(ngModel)]="logrosService.selectedLogros.idInstitucion" placeholder="idInstitucion">
              </div>
              <div class="input-field col-s12">
                <input type="text" name="nombre" #name="ngModel" 
                [(ngModel)]="logrosService.selectedLogros.nombre" placeholder="nombre">
              </div>
              <div class="input-field col-s12">
                <input type="text" name="descripcion" #name="ngModel" 
                [(ngModel)]="logrosService.selectedLogros.descripcion" value="0" placeholder="descripcion">
              </div>
              <div class="input-field col-s12">
                <input type="text" name="minBotellas" #name="ngModel" 
                [(ngModel)]="logrosService.selectedLogros.minBotellas" placeholder="minBotellas">
              </div>

              <div class="input-field col-s12">
                <input type="text" name="maxBotellas" #name="ngModel" 
                [(ngModel)]="logrosService.selectedLogros.maxBotellas" placeholder="maxBotellas">
              </div>


              <div class="card-action">
                <div class="input-field col-s12">
                  <button class="btn right  purple darken-4" (click)="resetForm(logrosForm)">Limpiar</button>
                  <button class="btn ">Guardar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    /////////////////////////////////////////////estructura de la tabla
    <div class="col s7">
      <table class="striped highlight black-text">
        <thead>
          <th>idLogro</th>
          <th>idInstitucion</th>
          <th>nombre</th>
          <th>descripcion</th>
          <th>minBotellas</th>
          <th>maxBotellas</th>
          <th>Operaciones</th>
        </thead>
        <tbody>
          <tr *ngFor="let logros of logrosService.logros">
            <td>{{ logros.idLogro }}</td>
            <td>{{ logros.idInstitucion }}</td>
            <td>{{ logros.nombre }}</td>
            <td>{{ logros.descripcion }}</td>
            <td>{{ logros.minBotellas }}</td>
            <td>{{ logros.maxBotellas }}</td>
            
            
            <td>
              <a (click)="editLogros(logros)">
                <i class="material-icons">edit</i>
              </a>
              <a (click)="deleteLogros(logros._id, logrosForm)">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->

  <div class="row mt-5">
  <div class="col">
    <button type="button" class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalLogros" (click)="resetForm()">Nuevo Logro</button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">idLogro</th>
          <th scope="col">idInstitucion</th>
          <th scope="col">nombre</th>
          <th scope="col">descripcion</th>
          <th scope="col">minBotellas</th>
          <th scope="col">maxBotellas</th>
          <th scope="col">Operaciones</th>
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let logros of serviceLogros.logros"> -->
            <tr >
          <th scope="row"> {{i+1}}</th>
          <td>{{logros.idLogro}}</td>
          <td>{{logros.idInstitucion}}</td>
          <td>{{logros.nombre}}</td>
          <td>{{logros.descripcion}}</td>
          <td>{{logros.minBotellas}}</td>
          <td>{{logros.maxBotellas}}</td>
          <td>
             <button class="btn btn-primary" (click)="editLogros(logros)" data-toggle="modalLogros" data-target="modal">Update</button>
          </td>
          <td>
            <a href="/logros" class="btn btn-danger" (click)="deleteLogros(logros._id)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> 



 